NODE_ENV=development

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase

PGADMIN_EMAIL=admin@mail.com
PGADMIN_PASSWORD=admin

DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB

SECRET_KEY=your_secret_key_here
PASSWORD_HASH_SALT=your_salt_value_here
JWT_ALGORITHM=HS256

ACCESS_TOKEN_LIFETIME=2h
REFRESH_TOKEN_LIFETIME=1d

REQUEST_TIMEOUT_MS=2000